body {
	font-family: 'Russo One';
	background-color: #808080c7;
	color: #000000;
}

/*--Header styling-----------------------------------------------------------------*/
.header-spacer {
	height: 140px;
	z-index: -10000;
}
.jumbotron {
	position: fixed;
	top: 0;
	width: 100%;
	margin-bottom: 10px;
	padding: 30px;
	height: 130px;
	background-color: #000000;
	z-index: 10000;
}
.jumbotron h1 {
	float: left;
	width: 80%;
	margin: 20px 0 0 0;
	color: #ce1414;
    -moz-transform: scale(1) rotate(3deg) translate(0px, 0px) skew(15deg, 0deg);
    -webkit-transform: scale(1) rotate(3deg) translate(0px, 0px) skew(15deg, 0deg);
    -o-transform: scale(1) rotate(3deg) translate(0px, 0px) skew(15deg, 0deg);
    -ms-transform: scale(1) rotate(3deg) translate(0px, 0px) skew(15deg, 0deg);
    transform: scale(1) rotate(3deg) translate(0px, 0px) skew(15deg, 0deg);
}
.btn {
	box-shadow: 2px 2px #888888;
	background-color: #ce1414;
	color: #000000;
	outline: none !important;
}
.start-button {
/*	position: relative;
	top: 50%;
	transform: translateY(-50%);*/
	height: 40px;
	width: 80px;
}
.btn:active {
	box-shadow: 0 0;
	position: relative;
	left: 2px;
	top: 2px;
}
.fight-button {
	
}
/*.fight-button:hover  {
	transform: scale(0.9, 0.9);
	background-color: #ce1414;
	color: #ffffff;

}*/
.fight-button:active {
	position: relative;
	left: 2px;
	top: 2px;
}

/*--Selection box styling-------------------------------------------------------------------*/
.heroes {
	display: none;
	height: 250px;
	background-color: grey;
	background-repeat: repeat-y;
	background-size: cover;
	border-radius: 20px;
	text-shadow: 2px 1px rgba(181, 177, 177, 0.7);
}
.heroes h2 {
	margin: 10px 0 0 0;
	letter-spacing: 2px;
}
.hero-container {
	float: left;
	position: relative;
	box-sizing: border-box;
	margin: 20px 10px;
	padding: 15px 0;
	height: 170px;
	width: 160px;
	background-image: url('../images/thumbnail.jpg');
	border: 10px solid #de6c00;
	border-radius: 10px;
	z-index: 1000;
}
.hero-container:hover {
	transform: scale(1.1,1.1);
}
.hero-container:active {
	transform: scale(1.2,1.2);
}
.heroes img {
	display: block;
	margin: 0 auto;
	text-align: middle;
	height: 100px;
}
.menu-text {
	margin: 5px 0;
	text-align: center;
	background-color: rgba(222, 108, 0, 0.8);
}
/*--Battlefield Styling-------------------------------------------------------------------*/
.game-area-boxes {
	border-radius: 15px;
	height: 280px;
}
.battlefield {
	display: none;
	margin: 30px 0 30px 0;
	padding: 15px 30px;
}

.hero-position {
	height:200px;
	width: 200px;
}
.attacker {}
.middle-of-the-battlefield {}
.defender {
	float: right;
}




/*--Graveyard Styling-------------------------------------------------------------------*/
.graveyard {
	display: none;
	margin: 30px 0 30px 0;
	padding: 15px 30px;
	background-image: url('../images/graveyard.jpg');
}
